html,body{
    margin:0;
    height:100%;
    font-family: 'Tahoma', sans-serif;
}

canvas{
    margin:0;
    display:block;
}

/* ----- BUTTONS ----- */
button:hover{
    cursor:pointer;
}
#button-page1{
    background-color: #bad7ff;
}
#button-page2{
    background-color: #5c91d5;
}
#button-restart{
    background-color:white;
    padding:3rem;
    border:#004ba8 2px solid;
    border-radius: 15px;
    font-size:2rem;
}

/* ----- PAGES ----- */
#page1{
    display:flex;
    width:100%;
    height:100%;
}
#page2{
    display:none;
    width:100%;
    height:100%;
    background-color: #bad7ff;
}
#page5{
    display:none;
    width:100%;
    height:100%;
}
#page6{
    display:none;
    width:100%;
    height:100%;
    justify-content:center;
    align-items: center;

    background-color:#bad7ff
}
