html,body{
    margin:0;
    height:100%;
    width:100%;
    justify-content:center;
    align-items: center;
    font-family: 'Tahoma', sans-serif;
    text-align: center;
}
canvas{
    margin:0;
    display:block;
}

/* ----- GENERAL ----- */
.dark-blue{
    color:#004ba8;
}
.med-blue{
    color:#5c91d5;
    font-size: 33px;
}
.light-blue{
    color:#bad7ff;
    font-size: 33px;
}
.white{
    color:white;
    font-size: 133px;
}
.black{
    color:black;
    font-size: 33px;
}
.large-text{
    font-size: 6rem;
    padding: 1rem;
}
.medium-text{
    font-size: 3rem;
    padding:0 6rem 0 6rem;
}
.small-text{
    font-size:1.5rem
}

/* ----- BUTTONS ----- */
button:hover{
    cursor:pointer;
    background-color: #004ba8;
    text-decoration: underline;
}
#button-page1{
    background-color: #bad7ff;
    color:#004ba8;
    border: none;
    width:20rem;
    text-align: center;
    font-size: 33px;
    border-radius: 15px;
    padding: 16px 32px;
}
#button-page2{
    background-color: #bad7ff;
    color:#004ba8;
    border: none;
    text-align: center;
    font-size: 33px;
    border-radius: 15px;
    padding:3rem;
    margin-right: 5rem;
    align-self:flex-end
}
#button-restart{
    background-color:white;
    padding:3rem;
    border:#004ba8 2px solid;
    border-radius: 15px;
    font-size:2rem;

}
img{
    width:50%;
}

/* ----- PAGES ----- */
#page1{
    display:flex;
    width:100%;
    height:100%;
    flex-flow:column wrap;
    justify-content: space-evenly;
    align-items: center;
}
#page2{
    display:none;
    width:100%;
    height:100%;
    background-color: #bad7ff;
    flex-flow:column wrap;
    justify-content: space-evenly;
    align-items: center;
}
#page3{
    display:none;
    justify-content:center;
    align-items: center;
}
#page5{
    display:none;
    width:100%;
    height:100%;
}
#page6{
    display:none;
    width:100%;
    height:100%;
    justify-content:center;
    align-items: center;

    background-color:#bad7ff
}

/* ----- STORIES ----- */
#story1{
    display:none 
}
#story2{
    display:none 
}
#story3{
    display:none 
}
#story4{
    display:none 
}
#story5{
    display:none 
}
#story6{
    display:none 
}
#story7{
    display:none 
}
#story8{
    display:none 
}
#story9{
    display:none 
}
#story10{
    display:none 
}

/* ----- OTHER ----- */
#currentBlank{
    display:inline;
}
/* #currentPrompt{
    font-size:5rem
} */
#sketchTime{
    display:inline;
}