html,body{
    margin:0;
    height:100%;
}
canvas{
    margin:0;
    display:block;
}

/* ----- BUTTONS ----- */
button:hover{
    cursor:pointer;
}
#button-page1{
    background-color: #bad7ff;
}
#button-page2{
    background-color: #5c91d5;
}
#button-restart{
    background-color:white;
    padding:3rem;
    border:#004ba8 2px solid;
    border-radius: 15px;
    font-size:2rem;
}
img{
    width:50%;
}

/* ----- PAGES ----- */
#page1{
    display:flex;
    width:100%;
    height:100%;
}
#page2{
    display:none;
    width:100%;
    height:100%;
}
#page5{
    display:none;
    width:100%;
    height:100%;
}
#page6{
    display:none;
    width:100%;
    height:100%;
    justify-content:center;
    align-items: center;

    background-color:#bad7ff
}

/* ----- STORIES ----- */
#story1{
    display:none 
}
#story2{
    display:none 
}
#story3{
    display:none 
}
#story4{
    display:none 
}
#story5{
    display:none 
}
#story6{
    display:none 
}
#story7{
    display:none 
}
#story8{
    display:none 
}
#story9{
    display:none 
}
#story10{
    display:none 
}